body{
   background-color: lightgray;
   margin: 0;
  
}




h1{
text-align: center;
color: black;

}

.navbar ul{
    list-style-type:none;
    background-color: darkgray;
    padding: 0;
    margin: 0;
    overflow: hidden;


}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: white;
}

.navbar li{
    float: left;
}

table{
    margin-top: 20px;
    margin-left: 15px;
    background-color: black;
    height: 500px;
    width: 800px;
    border: 10px solid;
   
}
tr{
    background-color: rgb(217, 110, 192);
}

#row1{
    background-color:rgb(0, 179, 255);
}


#row2{
    background-color:green;
}


#B{
    background-color:yellow;
}


#C{
    background-color:orange;
}


#D{
    background-color:red;
}

img{
    height: 100px;
}

.form-container{
    margin-left: 15px;

}